@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var currentEnvironment = ViewData["environment"] as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This is my home page for AZURE V003 - MS DEVOPS SP 2023 - shown to my TEACHER </p>
    <p>V3 </p>
    <p> 3/31/2023 </p>
    <p> 5:38 PM FRIDAY </p>
    <p>This is the @currentEnvironment Environment</p>
</div>
